{% extends 'base.html.twig' %}

{% block title %}
	Notes
{% endblock %}

{% block body %}
	<div class="container vh-100 text-center">
		<div class="d-flex flex-column h-100 justify-content-center">
			<div class="container">
				<img src="{{ asset('images/logo.svg') }}" height="75">
				<h5 class="my-4">Application for creating simple notes.</h5>
				{% if app.user %}
					<a href="{{ path('app_notes') }}" class="btn btn-lg btn-primary">Go to your notes</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">Sign in now!</a>
				{% endif %}
			</div>
		</div>
		<div class="fixed-bottom py-3 text-body-secondary">Developed by
			<a href="https://github.com/patrick642" target="_blank">Patrick642</a>.</div>
	</div>
	<style>
		body {
			padding: 0;
		}
	</style>
{% endblock %}
