{% extends 'base.html.twig' %}

{% block title %}
	Not found - Notes
{% endblock %}

{% block body %}
	<div class="container vh-100 d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="display-1">500</h1>
			<p>An error occured. Try again later.</p>
		</div>
	</div>
	<style>
		body {
			padding: 0;
		}
	</style>
{% endblock %}
